<nav>
	<ul class="menu">
		<li class="firstlink">
			<%= link_to "Home", root_path %>
		</li>
		<li><%= link_to "Booking Form", bookings_path %></li>
		<% if current_user && current_user.admin? %>
			<li><%= link_to "Admin Area", users_path %></li>
		<% end %>
		<li class="lastlink">
			<% if current_user %>
				<%= link_to "Sign Out"%>
			<% else %>
				<%= link_to "Sign In" %>
			<% end %>
		</li>
	</ul>
</nav>